# flyctl launch added from .gitignore
**/.env
**/phpmyadmin/sessions

# flyctl launch added from src/.gitignore
src/node_modules
src/public/build
src/public/hot
src/public/storage
src/storage/*.key
src/vendor
src/**/.env
src/**/.env.testing
src/**/.env.backup
src/**/.env.production
src/**/.phpunit.result.cache
src/**/Homestead.json
src/**/Homestead.yaml
src/**/auth.json
src/**/npm-debug.log
src/**/yarn-error.log
src/.fleet
src/.idea
src/.vscode

# flyctl launch added from src/bootstrap/cache/.gitignore
src/bootstrap/cache/**/*
!src/bootstrap/cache/**/.gitignore

# flyctl launch added from src/database/.gitignore
src/database/**/*.sqlite*

# flyctl launch added from src/storage/app/.gitignore
src/storage/app/**/*
!src/storage/app/**/public
!src/storage/app/**/.gitignore

# flyctl launch added from src/storage/app/public/.gitignore
src/storage/app/public/**/*
!src/storage/app/public/**/.gitignore

# flyctl launch added from src/storage/framework/.gitignore
src/storage/framework/**/compiled.php
src/storage/framework/**/config.php
src/storage/framework/**/down
src/storage/framework/**/events.scanned.php
src/storage/framework/**/maintenance.php
src/storage/framework/**/routes.php
src/storage/framework/**/routes.scanned.php
src/storage/framework/**/schedule-*
src/storage/framework/**/services.json

# flyctl launch added from src/storage/framework/cache/.gitignore
src/storage/framework/cache/**/*
!src/storage/framework/cache/**/data
!src/storage/framework/cache/**/.gitignore

# flyctl launch added from src/storage/framework/cache/data/.gitignore
src/storage/framework/cache/data/**/*
!src/storage/framework/cache/data/**/.gitignore

# flyctl launch added from src/storage/framework/sessions/.gitignore
src/storage/framework/sessions/**/*
!src/storage/framework/sessions/**/.gitignore

# flyctl launch added from src/storage/framework/testing/.gitignore
src/storage/framework/testing/**/*
!src/storage/framework/testing/**/.gitignore

# flyctl launch added from src/storage/framework/views/.gitignore
src/storage/framework/views/**/*
!src/storage/framework/views/**/.gitignore

# flyctl launch added from src/storage/logs/.gitignore
src/storage/logs/**/*
!src/storage/logs/**/.gitignore

# flyctl launch added from src/vendor/hamcrest/hamcrest-php/.gitignore
src/vendor/hamcrest/hamcrest-php/**/composer.lock
src/vendor/hamcrest/hamcrest-php/**/vendor

# flyctl launch added from src/vendor/psr/container/.gitignore
src/vendor/psr/container/**/composer.lock
src/vendor/psr/container/**/composer.phar
src/vendor/psr/container/vendor

# flyctl launch added from src/vendor/psr/event-dispatcher/.gitignore
src/vendor/psr/event-dispatcher/vendor
src/vendor/psr/event-dispatcher/**/composer.lock

# flyctl launch added from src/vendor/psr/http-factory/.gitignore
src/vendor/psr/http-factory/**/composer.lock
src/vendor/psr/http-factory/**/vendor

# flyctl launch added from src/vendor/sebastian/resource-operations/.gitignore
src/vendor/sebastian/resource-operations/.idea
src/vendor/sebastian/resource-operations/.php_cs.cache
src/vendor/sebastian/resource-operations/build/FunctionSignatureMap.php
src/vendor/sebastian/resource-operations/composer.lock
src/vendor/sebastian/resource-operations/vendor
src/vendor/sebastian/resource-operations/.phpunit.result.cache

# flyctl launch added from src/vendor/sebastian/version/.gitignore
src/vendor/sebastian/version/.php_cs.cache
src/vendor/sebastian/version/.idea

# flyctl launch added from src/vendor/spatie/ignition/resources/compiled/.gitignore
src/vendor/spatie/ignition/resources/compiled/**/*
!src/vendor/spatie/ignition/resources/compiled/**/.gitignore
!src/vendor/spatie/ignition/resources/compiled/**/ignition.css
!src/vendor/spatie/ignition/resources/compiled/**/ignition.js
fly.toml
